
#floaty-blocks {
  position: relative;
}

.floaty-block {
  border: 1px dotted black;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
}

.floaty-block-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#E0E0E0;
  z-index: 1000;
  opacity: 0.5;
}

.floaty-grid {

  position: absolute;
  background: transparent url('grid.png') repeat left top;
  opacity: 0.1;
  z-index:100000;
}

.floaty-col {
  background: #E0FFE0;
  height: 4px;
  width: 100%;
}

.floaty {
  background: #0F0;
  width: 4px;
  height: 4px;
  display: block;
  position: relative;
}

.floaty.left {
  float: left;
}

.floaty.right {
  float: right;
}
